
<footer class="mt-auto"> 
	<div class="jumbotron text-center" >
	  <a href="">
		<img alt="" src="../../resources/img/favicon.ico"
		width="40" height="40">
	  </a>
	  <p class="text-muted" style="padding-top: 20px;">&copy; GeoLock</p>
	</div>
	</footer>
</html>

